In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

In [ ]:
!tar xf spark-3.0.0-bin-hadoop3.2.tgz

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

In [ ]:
!pip install -q findspark

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [ ]:
spark

In [ ]:
df = spark.read.csv("/content/drive/My Drive/Colab Notebooks/superstore.csv", header=True, inferSchema=True)

In [ ]:
# to check out the schema of the dataframe
df.printSchema()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)

In [ ]:
# to display first 5 rows
df.show(5)

+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|  Customer Name|  Segment|      Country|           City|     State|Postal Code|Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|    Claire Gute| Consumer|United States|      Henderson|  Kentucky|      42420| South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 5 rows

In [ ]:
# total number of rows in the dataframe
df.count()

9994

In [ ]:
# to show specific columns of first 5 rows
df.select("Order ID","Order Date","Customer ID","Product Name").show(5)

+--------------+----------+-----------+--------------------+
|      Order ID|Order Date|Customer ID|        Product Name|
+--------------+----------+-----------+--------------------+
|CA-2016-152156| 11/8/2016|   CG-12520|Bush Somerset Col...|
|CA-2016-152156| 11/8/2016|   CG-12520|Hon Deluxe Fabric...|
|CA-2016-138688| 6/12/2016|   DV-13045|Self-Adhesive Add...|
|US-2015-108966|10/11/2015|   SO-20335|Bretford CR4500 S...|
|US-2015-108966|10/11/2015|   SO-20335|Eldon Fold 'N Rol...|
+--------------+----------+-----------+--------------------+
only showing top 5 rows

In [ ]:
# describing the columns
df.describe().show()

+-------+------------------+--------------+----------+---------+--------------+-----------+------------------+-----------+-------------+--------+-------+------------------+-------+---------------+----------+------------+--------------------+------------------+------------------+------------------+------------------+
|summary|            Row ID|      Order ID|Order Date|Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|    City|  State|       Postal Code| Region|     Product ID|  Category|Sub-Category|        Product Name|             Sales|          Quantity|          Discount|            Profit|
+-------+------------------+--------------+----------+---------+--------------+-----------+------------------+-----------+-------------+--------+-------+------------------+-------+---------------+----------+------------+--------------------+------------------+------------------+------------------+------------------+
|  count|              9994|          9994|      9994|     9994|          9994|       9994|              9994|       9994|         9994|    9994|   9994|              9994|   9994|           9994|      9994|        9994|                9994|              9994|              9994|              9994|              9994|
|   mean|            4997.5|          null|      null|     null|          null|       null|              null|       null|         null|    null|   null|  55190.3794276566|   null|           null|      null|        null|                null|234.41818199917006| 5.828590535392018|0.3155949113492862|28.587912967780834|
| stddev|2885.1636290974325|          null|      null|     null|          null|       null|              null|       null|         null|    null|   null|32063.693350364487|   null|           null|      null|        null|                null| 631.7890112674363|25.520975563736403| 3.314008629792499| 234.3891156047269|
|    min|                 1|CA-2014-100006|  1/1/2017| 1/1/2015|   First Class|   AA-10315|     Aaron Bergman|   Consumer|United States|Aberdeen|Alabama|              1040|Central|FUR-BO-10000112| Furniture| Accessories|"""While you Were...|          10/Pack"|      1040 sheets"|           30/Box"|         -6599.978|
|    max|              9994|US-2017-169551|  9/9/2017| 9/9/2017|Standard Class|   ZD-21925|Zuschuss Donatelli|Home Office|United States|    Yuma|Wyoming|             99301|   West|TEC-PH-10004977|Technology|      Tables|netTALK DUO VoIP ...|            999.98|            98.352|            98.352|          8399.976|
+-------+------------------+--------------+----------+---------+--------------+-----------+------------------+-----------+-------------+--------+-------+------------------+-------+---------------+----------+------------+--------------------+------------------+------------------+------------------+------------------+

In [ ]:
# to show distinct values
df.select("Ship Mode").distinct().show()

+--------------+
|     Ship Mode|
+--------------+
|   First Class|
|      Same Day|
|  Second Class|
|Standard Class|
+--------------+

In [ ]:
# to show customers who are corporates and have ordered greater than 10 products
df_filtered = df.filter("Quantity > 10 AND Segment = 'Corporate'")
df_filtered.select("Customer ID", "Customer Name", "City").show(5)

+-----------+----------------+------------+
|Customer ID|   Customer Name|        City|
+-----------+----------------+------------+
|   JE-16165|  Justin Ellison|    Franklin|
|   DR-12880| Dan Reichenbach|     Chicago|
|   AG-10495| Andrew Gjertsen|Philadelphia|
|   JD-15895|Jonathan Doherty|  Belleville|
|   JD-15895|Jonathan Doherty|Philadelphia|
+-----------+----------------+------------+
only showing top 5 rows

In [ ]:
# to find maximum profit in each city
from pyspark.sql.functions import max
df.groupBy("City").max("Profit").show()

+---------------+-----------+
|           City|max(Profit)|
+---------------+-----------+
|          Tyler|     4.5201|
|    Springfield|  2302.9671|
|        Edmonds|    311.652|
|          Tempe|     107.46|
|  Bowling Green|    74.9985|
|          Pasco|     121.99|
|         Auburn|   240.8595|
|North Las Vegas|  1644.2913|
|       Thornton|    89.5888|
|       Palatine|    23.2624|
|        Phoenix|   211.4955|
|     Plainfield|   621.9744|
|  Lake Elsinore|     17.745|
|     Georgetown|   195.9944|
|      Bethlehem|      0.711|
|         Wilson|     20.392|
|      Hollywood|     38.396|
|         Monroe|    217.767|
|       Woodland|    23.9984|
| Pembroke Pines|     50.396|
+---------------+-----------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline

indexers = [StringIndexer(inputCol="Ship Mode", outputCol="Ship Mode Index") , StringIndexer(inputCol="Customer ID", outputCol="Customer ID Index"), 
            StringIndexer(inputCol="Customer Name", outputCol="Customer Name Index"), StringIndexer(inputCol="Segment", outputCol="Segment Index"),
            StringIndexer(inputCol="City", outputCol="City Index"), StringIndexer(inputCol="State", outputCol="State Index"),
            StringIndexer(inputCol="Region", outputCol="Region Index"), StringIndexer(inputCol="Category", outputCol="Category Index"),
            StringIndexer(inputCol="Sales", outputCol="Sales Index"), StringIndexer(inputCol="Quantity", outputCol="Quantity Index"),
            StringIndexer(inputCol="Discount", outputCol="Discount Index")]


pipeline = Pipeline(stages=indexers)
new_df = pipeline.fit(df).transform(df)

new_df.show()

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+---------------+-----------------+-------------------+-------------+----------+-----------+------------+--------------+-----------+--------------+--------------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|Ship Mode Index|Customer ID Index|Customer Name Index|Segment Index|City Index|State Index|Region Index|Category Index|Sales Index|Quantity Index|Discount Index|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+---------------+-----------------+-------------------+-------------+----------+-----------+------------+--------------+-----------+--------------+--------------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|            1.0|            717.0|              717.0|          0.0|      26.0|       16.0|         3.0|           1.0|     1296.0|           1.0|           0.0|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582|            1.0|            717.0|              717.0|          0.0|      26.0|       16.0|         3.0|           1.0|     5278.0|           0.0|           0.0|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|            1.0|            539.0|              537.0|          1.0|       1.0|        0.0|         0.0|           0.0|       19.0|           1.0|           0.0|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|            0.0|            251.0|              249.0|          0.0|     107.0|        7.0|         3.0|           1.0|     5681.0|           2.0|          18.0|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|            0.0|            251.0|              249.0|          0.0|     107.0|        7.0|         3.0|           0.0|      602.0|           1.0|           1.0|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|       0| 14.1694|            0.0|             35.0|               35.0|          0.0|       1.0|        0.0|         0.0|           1.0|     1604.0|           5.0|           0.0|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|       0|  1.9656|            0.0|             35.0|               35.0|          0.0|       1.0|        0.0|         0.0|           0.0|      786.0|           3.0|           0.0|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|            0.0|             35.0|               35.0|          0.0|       1.0|        0.0|         0.0|           2.0|     5613.0|           6.0|           1.0|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|            0.0|             35.0|               35.0|          0.0|       1.0|        0.0|         0.0|           0.0|     2906.0|           0.0|           1.0|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|       0|   34.47|            0.0|             35.0|               35.0|          0.0|       1.0|        0.0|         0.0|           0.0|      926.0|           2.0|           0.0|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|            0.0|             35.0|               35.0|          0.0|       1.0|        0.0|         0.0|           1.0|     2848.0|           7.0|           1.0|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|            0.0|             35.0|               35.0|          0.0|       1.0|        0.0|         0.0|           2.0|     5629.0|           3.0|           1.0|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|            0.0|            363.0|              366.0|          0.0|      48.0|        9.0|         3.0|           0.0|        3.0|           0.0|           1.0|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|            0.0|             77.0|               77.0|          0.0|       4.0|        4.0|         0.0|           0.0|     4267.0|           0.0|           1.0|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|            0.0|            487.0|              485.0|          2.0|      59.0|        2.0|         2.0|           0.0|     5141.0|           2.0|           3.0|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|            0.0|            487.0|              485.0|          2.0|      59.0|        2.0|         2.0|           0.0|     3071.0|           0.0|           3.0|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|       0| 13.3176|            0.0|             32.0|               32.0|          0.0|     160.0|       20.0|         2.0|           0.0|     5098.0|           6.0|           0.0|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|       0|    9.99|            1.0|            259.0|              259.0|          0.0|     299.0|       31.0|         0.0|           0.0|     4777.0|           1.0|           0.0|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|       0|  2.4824|            1.0|            575.0|              575.0|          0.0|       3.0|        0.0|         0.0|           0.0|       54.0|           1.0|           0.0|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|            1.0|            575.0|              575.0|          0.0|       3.0|        0.0|         0.0|           2.0|     3224.0|           0.0|           1.0|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+---------------+-----------------+-------------------+-------------+----------+-----------+------------+--------------+-----------+--------------+--------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler
vectorAssembler = VectorAssembler(inputCols = ["Ship Mode Index", "Customer ID Index", "Customer Name Index", "Segment Index", "City Index", 
                                               "State Index", "Region Index", "Category Index", "Sales Index", "Quantity Index", "Discount Index"], 
                                                outputCol = 'Features')
dataset = vectorAssembler.transform(new_df)
dataset = dataset.select(['Features', 'Profit'])
dataset.show(3)

+--------------------+-------+
|            Features| Profit|
+--------------------+-------+
|[1.0,717.0,717.0,...|41.9136|
|[1.0,717.0,717.0,...|219.582|
|[1.0,539.0,537.0,...| 6.8714|
+--------------------+-------+
only showing top 3 rows

In [ ]:
splits = dataset.randomSplit([0.8, 0.2])
train_set = splits[0]
test_set = splits[1]

In [ ]:
from pyspark.ml.regression import LinearRegression

lr = LinearRegression(featuresCol = "Features", labelCol='Profit', maxIter=20, regParam=0.3, elasticNetParam=0.8)
lr_model = lr.fit(train_set)

print("Coefficients: " + str(lr_model.coefficients))
print("Intercept: " + str(lr_model.intercept))

trainingSummary = lr_model.summary
print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2: %f" % trainingSummary.r2)

Coefficients: [2.6265463400705684,-0.0023543838926686003,-0.012959842823215162,2.8487541078506586,-0.03631123910503697,1.3060903694874213,-4.360683880100757,24.09477271819643,0.004428120241835511,1.016687829255581,-13.220149143492911]
Intercept: 18.474273434345115
RMSE: 219.498389
r2: 0.032648

In [ ]:
train_set.describe().show()

+-------+------------------+
|summary|            Profit|
+-------+------------------+
|  count|              7991|
|   mean| 29.31127337004122|
| stddev|223.18568640586852|
|    min|         -6599.978|
|    max|         6719.9808|
+-------+------------------+

In [ ]:
predictions = lr_model.transform(test_set)
predictions.select("Prediction","Profit","Features").show()

+------------------+-------+--------------------+
|        Prediction| Profit|            Features|
+------------------+-------+--------------------+
|25.140233471309653| 68.976|(11,[0,1,2,3,4,8]...|
|26.329826869407192|11.2308|(11,[0,1,2,3,4,8]...|
|22.515606964257273| 6.2208|(11,[0,1,2,3,4,9]...|
| 28.03514886435923|  0.864|(11,[0,1,2,4,5,8]...|
|  26.8731912649859| 9.6192|(11,[0,1,2,4,5,8]...|
| 19.12880113056666| 4.8588|(11,[0,1,2,4,5,8]...|
|23.224285503284847| 2.2518|(11,[0,1,2,4,5,8]...|
|42.105753019950626|11.1564|(11,[0,1,2,4,7,8]...|
| 46.16811477257488| 2.3232|(11,[0,1,2,4,7,8]...|
|  60.4334029879711|15.4872|(11,[0,1,2,4,7,8]...|
|34.648756743859934|10.4148|(11,[0,1,2,4,7,8]...|
| 21.16843217050135|10.3071|(11,[0,1,2,4,8],[...|
| 20.61792867454396| 0.6258|(11,[0,1,2,4,8],[...|
|20.496470575907313|23.9688|(11,[0,1,2,4,8],[...|
|17.744708754519067| 1.5288|(11,[0,1,2,4,8],[...|
|24.257297953390108| 1.7901|(11,[0,1,2,4,8],[...|
| 16.55915550078182| 9.3312|(11,[0,1,2,4,8],[...|
| 27.37326059312723|10.7301|(11,[0,1,2,4,8],[...|
| 19.54615207285829| 2.4192|(11,[0,1,2,4,8],[...|
|29.413132827554982|54.9504|(11,[0,1,2,4,8],[...|
+------------------+-------+--------------------+
only showing top 20 rows